<style>
  /*! CSS Used from: https://offer.nooro-us.com/core.min.css */
  .paragraph{width:100%;font-size:18px;word-break:break-word;white-space:break-spaces;}
  .paragraph .paragraph-inner{width:100%;}
  .paragraph p{font-size:unset;font-weight:unset;font-style:unset;color:unset;text-decoration:unset;}
  .paragraph *{line-height:inherit;letter-spacing:inherit;}
  .btn{cursor:pointer;border:none;outline:none;display:flex;flex-direction:column;font-weight:500;font-size:14px;line-height:1.2;letter-spacing:.02em;color:#f6f9fe;background:#4368e0;border-radius:4px;padding:10px 30px;transition:.15s all ease-in-out;transition-property:all;transition-duration:.2s;transition-timing-function:ease-in-out;position:relative;box-shadow:rgba(37,42,50,.32) 0 1px 4px 1px;}
  .btn:active,.btn:hover{background:#3151b9;color:#f6f9fe;}
  .btn .btn-headline{pointer-events:none;word-break:break-word;}
  .btn-container{width:100%;display:flex;align-items:center;flex-direction:column;}
  *{box-sizing:border-box;}
  .element-wrapper{display:flex;align-items:center;justify-content:center;text-decoration:inherit;min-height:0;}
  .section{width:100%;background-position:center;background-size:cover;background-repeat:no-repeat;justify-items:center;align-items:center;display:flex;flex-direction:column;}
  .section.full{width:100%;}
  .section.full .section_row{max-width:1170px;}
  .section .section_row{width:100%;display:flex;flex-direction:row;background-position:center;background-size:cover;background-repeat:no-repeat;}
  @media only screen and (min-width: 851px){
  .no-desktop{display:none!important;}
  }
  @media only screen and (max-width: 850px)and (min-width: 601px){
  .no-tablet{display:none!important;}
  }
  @media only screen and (max-width: 600px){
  .no-mobile{display:none!important;}
  .section .section_row{flex-direction:column;}
  .section .section_row .row-column{width:100%!important;}
  }
  .row-column{padding:0;display:inline-block;vertical-align:top;text-decoration:inherit;}
  .sticky_show_after{display:none;visibility:hidden;}
  .sticky_show_after.visible{display:flex;visibility:visible;}
  /*! CSS Used from: Embedded */
  .el-591307{font-size:17px;text-align:right;}
  /*! CSS Used from: Embedded */
  .el-332769{align-items:flex-start;}
  /*! CSS Used from: Embedded */
  .el-195181{align-items:stretch;}
  @media screen and (min-width: 480px){
  .el-195181{align-items:center;}
  }
  @media screen and (min-width: 1024px){
  .el-195181{align-items:center;}
  }
</style>

<section data-v-9b8eab12="" data-eid="215257" data-show_after="300" data-sticky_position="bottom" id="215257" class="section full sticky_show_after visible" style="border-top: 1px solid rgb(99, 106, 123);border-left: none rgb(99, 106, 123);border-right: none rgb(99, 106, 123);border-bottom: none rgb(99, 106, 123);margin: 20px 0px 0px;position: sticky;z-index: 1;bottom: 0px;background-color: {{ section.settings.bgcolor }};background-size: auto;background-repeat: no-repeat;"><div data-v-6c85cc04="" data-v-9b8eab12="" data-eid="844116" id="844116" class="section_row no-mobile" style="border-width: 0px; border-style: solid; border-color: transparent; color: rgb(48, 48, 48); font-size: 14px; text-align: initial; margin: 0px; padding: 0px; background-size: auto; background-repeat: no-repeat;"><div data-v-796cd32d="" data-v-6c85cc04="" class="row-column" style="width: 50%;"><div data-v-dfbf157a="" data-v-796cd32d="" data-eid="591307" class="element-wrapper"><div data-v-dfbf157a="" class="paragraph el-591307" style="color: white; line-height: 1; margin: 10px 0px 0px; padding: 10px; text-shadow: transparent 0px 0px 0px;"><style> .el-591307  {
    font-size: 17px;
    text-align: right;
} </style><div class="paragraph-inner"><p>{{ section.settings.text }}</p></div></div></div></div><div data-v-796cd32d="" data-v-6c85cc04="" class="row-column" style="width: 50%;"><div data-v-dfbf157a="" data-v-796cd32d="" data-eid="332769" class="element-wrapper"><div data-v-dfbf157a="" class="btn-container el-332769"><style style="
    color: #19af42;
"> .el-332769 {
    align-items: flex-start;
} </style><a href="{{ section.settings.bttnlink }}" target="_self" class="btn" style="margin: 4px 0px 4px; padding: 15px 30px; background-color: white;"><span class="btn-headline" style="color: {{ section.settings.bgcolor }}; font-weight: bold; font-size: 17px; text-align: center;">{{ section.settings.bttntext }}</span></a></div></div></div></div><div data-v-6c85cc04="" data-v-9b8eab12="" data-eid="17236" id="17236" class="section_row no-desktop no-tablet" style="border-width: 0px; border-style: solid; border-color: transparent; color: rgb(48, 48, 48); font-size: 14px; text-align: initial; margin: 0px; padding: 0px; background-size: auto; background-repeat: no-repeat;"><div data-v-796cd32d="" data-v-6c85cc04="" class="row-column" style="width: 100%;"><div data-v-dfbf157a="" data-v-796cd32d="" data-eid="195181" class="element-wrapper"><div data-v-dfbf157a="" class="btn-container el-195181"><style> .el-195181 {
    align-items: stretch;
}
@media screen and (min-width: 480px) {
  .el-195181 {
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .el-195181 {
    align-items: center;
  }
} </style><a href="{{ section.settings.bttnlink }}" target="_self" class="btn" style="margin: 2px 10px 5px; padding: 15px 30px; background-color: white;"><span class="btn-headline" style="color: {{ section.settings.bgcolor }}; font-weight: bold; font-size: 16px; text-align: center;">{{ section.settings.bttntext }}</span></a></div></div></div></div></section>