<style>
@media all{
.elementor *,.elementor *:before,.elementor *:after{box-sizing:border-box;}
.elementor img{height:auto;max-width:100%;border:none;border-radius:0;box-shadow:none;}
.elementor-element{--flex-direction:initial;--flex-wrap:initial;--justify-content:initial;--align-items:initial;--align-content:initial;--gap:initial;--flex-basis:initial;--flex-grow:initial;--flex-shrink:initial;--order:initial;--align-self:initial;flex-basis:var(--flex-basis);flex-grow:var(--flex-grow);flex-shrink:var(--flex-shrink);order:var(--order);align-self:var(--align-self);}
.elementor-element:where(.e-con-full,.elementor-widget){flex-direction:var(--flex-direction);flex-wrap:var(--flex-wrap);justify-content:var(--justify-content);align-items:var(--align-items);align-content:var(--align-content);gap:var(--gap);}
.elementor-section{position:relative;}
.elementor-section .elementor-container{display:flex;margin-right:auto;margin-left:auto;position:relative;}
@media (max-width:1024px){
.elementor-section .elementor-container{flex-wrap:wrap;}
}
.elementor-section.elementor-section-boxed>.elementor-container{max-width:1140px;}
.elementor-widget-wrap{position:relative;width:100%;flex-wrap:wrap;align-content:flex-start;}
.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap{display:flex;}
.elementor-widget-wrap>.elementor-element{width:100%;}
.elementor-widget{position:relative;}
.elementor-widget:not(:last-child){margin-bottom:20px;}
.elementor-column{position:relative;min-height:1px;display:flex;}
.elementor-column-gap-default>.elementor-column>.elementor-element-populated{padding:10px;}
@media (min-width:768px){
.elementor-column.elementor-col-33{width:33.333%;}
}
@media (max-width:767px){
.elementor-column{width:100%;}
}
.elementor-element .elementor-widget-container{transition:background .3s,border .3s,border-radius .3s,box-shadow .3s,transform var(--e-transform-transition-duration,400ms);}
.elementor-widget-image{text-align:center;}
.elementor-widget-image img{vertical-align:middle;display:inline-block;width:100%;height:auto;}
}
/*! CSS Used from: https://virtuemap.com/wp-content/uploads/elementor/css/post-658.css?ver=1678784550 ; media=all */
@media all{
.elementor-section.elementor-section-boxed>.elementor-container{max-width:1140px;}
.elementor-widget:not(:last-child){margin-bottom:20px;}
.elementor-element{--widgets-spacing:20px;}
@media (max-width:1024px){
.elementor-section.elementor-section-boxed>.elementor-container{max-width:1024px;}
}
@media (max-width:767px){
.elementor-section.elementor-section-boxed>.elementor-container{max-width:767px;}
}
}
/*! CSS Used from: https://virtuemap.com/wp-content/uploads/elementor/css/post-70461.css?ver=1678785310 ; media=all */
@media all{
 .elementor-element.elementor-element-45d0664{margin-top:20px;margin-bottom:0px;}
@media (max-width:767px){
 .elementor-element.elementor-element-0b23c63 img{width:100%;}
 .elementor-element.elementor-element-0b23c63 > .elementor-widget-container{margin:-4px -4px -4px -4px;}
 .elementor-element.elementor-element-55514a5 img{width:100%;}
 .elementor-element.elementor-element-55514a5 > .elementor-widget-container{margin:-4px -4px -4px -4px;}
 .elementor-element.elementor-element-99e55d8 img{width:100%;}
 .elementor-element.elementor-element-99e55d8 > .elementor-widget-container{margin:-4px -4px -4px -4px;}
 .elementor-element.elementor-element-e2c10a1 img{width:100%;}
 .elementor-element.elementor-element-e2c10a1 > .elementor-widget-container{margin:-4px -4px -4px -4px;}
 .elementor-element.elementor-element-c6f163e img{width:100%;}
 .elementor-element.elementor-element-c6f163e > .elementor-widget-container{margin:-4px -4px -4px -4px;}
 .elementor-element.elementor-element-c9a955d img{width:100%;}
 .elementor-element.elementor-element-c9a955d > .elementor-widget-container{margin:-4px -4px -4px -4px;}
 .elementor-element.elementor-element-30e6a83 img{width:100%;}
 .elementor-element.elementor-element-30e6a83 > .elementor-widget-container{margin:-4px -4px -4px -4px;}
.elementor-element.elementor-element-a0105d7 img{width:100%;}
 .elementor-element.elementor-element-a0105d7 > .elementor-widget-container{margin:-4px -4px -4px -4px;}
}
} 
  
   .HowItWorks2 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
} 
@media(max-width:1200px)
  {
 
  } 
  @media(max-width:750px)
  {  
  }
</style>
 
<section id="HowItWorks2" class="shopify-section section HowItWorks2" style="background:{{ section.settings.backColor }}"  >
<div class="main-{{ section.id}} page-width" style=""> 
<div class="topHeadPartWorks2"> 
<h2 class="orderNowHeadWorks2 mainHeading" style="color:{{ section.settings.headingColor }} !important;margin-top: 0;">{{ section.settings.heading }}</h2>
</div>



  
<section class="elementor-section elementor-inner-section elementor-element elementor-element-45d0664 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="45d0664" data-element_type="section">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-76ea872" data-id="76ea872" data-element_type="column">
      <div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-0b23c63 elementor-widget elementor-widget-image" data-id="0b23c63" data-element_type="widget" data-widget_type="image.default">
          <div class="elementor-widget-container">
            <img decoding="async" width="622" height="222" src="{{ section.settings.image1 | img_url: '600x'}}" 
              class="attachment-large size-large wp-image-30797" alt="{{ section.settings.image1.alt }}" loading="lazy" 
              >
          </div>
        </div>
        <div class="elementor-element elementor-element-55514a5 elementor-widget elementor-widget-image" data-id="55514a5" data-element_type="widget" data-widget_type="image.default">
          <div class="elementor-widget-container">
            <img decoding="async" width="622" height="288" src="{{ section.settings.image2 | img_url: '600x' }}" class="attachment-large size-large wp-image-30798" 
              alt="{{ section.settings.image2.alt }}" loading="lazy" >
          </div>
        </div>
        <div class="elementor-element elementor-element-99e55d8 elementor-widget elementor-widget-image" data-id="99e55d8" data-element_type="widget" data-widget_type="image.default">
          <div class="elementor-widget-container">
            <img decoding="async" width="622" height="288" src="{{ section.settings.image3 | img_url: '600x' }}" class="attachment-large size-large wp-image-30799" 
              alt="{{ section.settings.image3.alt }}" loading="lazy" >
          </div>
        </div>
      </div>
    </div>
    <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-d3de32e" data-id="d3de32e" data-element_type="column">
      <div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-e2c10a1 elementor-widget elementor-widget-image" data-id="e2c10a1" data-element_type="widget" data-widget_type="image.default">
          <div class="elementor-widget-container">
            <img decoding="async" width="622" height="326" src="{{ section.settings.image4 | img_url: '600x' }}" class="attachment-large size-large wp-image-30800" 
              alt="{{ section.settings.image4.alt }}" loading="lazy" >
          </div>
        </div>
        <div class="elementor-element elementor-element-c6f163e elementor-widget elementor-widget-image" data-id="c6f163e" data-element_type="widget" data-widget_type="image.default">
          <div class="elementor-widget-container">
            <img decoding="async" width="622" height="250" src="{{ section.settings.image5 | img_url: '600x' }}" class="attachment-large size-large wp-image-30801" 
              alt="{{ section.settings.image5.alt }}" loading="lazy" >
          </div>
        </div>
        <div class="elementor-element elementor-element-c9a955d elementor-widget elementor-widget-image" data-id="c9a955d" data-element_type="widget" data-widget_type="image.default">
          <div class="elementor-widget-container">
            <img decoding="async" width="622" height="330" src="{{ section.settings.image6 | img_url: '600x' }}" class="attachment-large size-large wp-image-30809" 
              alt="{{ section.settings.image6.alt }}" loading="lazy" >
          </div>
        </div>
      </div>
    </div>
    <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2b8db3c" data-id="2b8db3c" data-element_type="column">
      <div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-30e6a83 elementor-widget elementor-widget-image" data-id="30e6a83" data-element_type="widget" data-widget_type="image.default">
          <div class="elementor-widget-container">
            <img decoding="async" width="622" height="326" src="{{ section.settings.image7 | img_url: '600x' }}" class="attachment-large size-large wp-image-154900" 
              alt="{{ section.settings.image7.alt }}" loading="lazy" >
          </div>
        </div>
        <div class="elementor-element elementor-element-a0105d7 elementor-widget elementor-widget-image" data-id="a0105d7" data-element_type="widget" data-widget_type="image.default">
          <div class="elementor-widget-container">
            <img decoding="async" width="622" height="366" src="{{ section.settings.image8 | img_url: '600x' }}" class="attachment-large size-large wp-image-30807" 
              alt="{{ section.settings.image8.alt }}" loading="lazy" >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  
  
</div> 
</section>
 
{% schema %}
  {
    "name": "Picture Reviews",
    "settings": [
       {
      "type":"color",
      "id":"headingColor",
      "label":"Heading Color",
      "default":"#000000"
    },
      {
        "type":"text",
        "id":"backColor",
        "label":"background Color",
        "default":"linear-gradient(180deg, rgba(56, 171, 255, 0.1) 0%, rgba(23, 111, 173, 0.1) 100%);"
      }, 
      {
        "type":"text",
        "id":"heading",
        "label":"Heading",
        "default":"NO COUPON CODE NEEDED."
      } ,
       {
            "type":"image_picker",
            "id":"image1",
            "label":"Image 1"
          } ,
       {
            "type":"image_picker",
            "id":"image2",
            "label":"Image 2"
          } , {
            "type":"image_picker",
            "id":"image3",
            "label":"Image 3"
          } , {
            "type":"image_picker",
            "id":"image4",
            "label":"Image 4"
          } , {
            "type":"image_picker",
            "id":"image5",
            "label":"Image 5"
          } , {
            "type":"image_picker",
            "id":"image6",
            "label":"Image 6"
          } , {
            "type":"image_picker",
            "id":"image7",
            "label":"Image 7"
          } , {
            "type":"image_picker",
            "id":"image8",
            "label":"Image 8"
          } 
    ], 
    "presets":[
      {
        "name":"Picture Reviews"
      }
    ]
  }
{% endschema %} 