<style>  
.priceComparisons .absolute{position:absolute;}
.priceComparisons .relative{position:relative;}
.priceComparisons .z-\[-1\]{z-index:-1;}
.priceComparisons .z-\[1\]{z-index:1;}
.priceComparisons .mx-2{margin-left:.5rem;margin-right:.5rem;}
.priceComparisons .mx-auto{margin-left:auto;margin-right:auto;}
.priceComparisons .ml-2{margin-left:.5rem;}
.priceComparisons .mt-3{margin-top:.75rem;}
.priceComparisons .mt-4{margin-top:1rem;}
.priceComparisons .mt-7{margin-top:1.75rem;}
.priceComparisons .mt-8{margin-top:2rem;}
.priceComparisons .block{display:block;}
.priceComparisons .inline{display:inline;}
.priceComparisons .flex{display:flex;}
.priceComparisons .grid{display:grid;}
.priceComparisons .hidden{display:none;}
.priceComparisons .h-0{height:0px;}
.priceComparisons .h-auto{height:auto;}
.priceComparisons .w-0{width:0px;}
.priceComparisons .w-\[18px\]{width:18px;}
.priceComparisons .w-full{width:100%;}
.priceComparisons .max-w-\[460px\]{max-width:460px;}
.priceComparisons .max-w-screen-xl{max-width:80em;}
.priceComparisons .flex-1{flex:1 1 0%;}
.priceComparisons .grid-cols-1{grid-template-columns:repeat(1,minmax(0,1fr));}
.priceComparisons .flex-col{flex-direction:column;}
.priceComparisons .priceComparisons .items-center{align-items:center;}
.priceComparisons .items-baseline{align-items:baseline;}
.priceComparisons .justify-center{justify-content:center;}
.priceComparisons .justify-between{justify-content:space-between;}
.priceComparisons .gap-2{gap:.5rem;}
.priceComparisons .gap-6{gap:1.5rem;}
.priceComparisons .self-center{align-self:center;}
.priceComparisons .justify-self-end{justify-self:end;}
.priceComparisons .overflow-hidden{overflow:hidden;}
.priceComparisons .break-words{overflow-wrap:break-word;}
.priceComparisons .rounded{border-radius:.25rem;}
.priceComparisons .rounded-\[50\%\]{border-radius:50%;}
.priceComparisons .border-2{border-width:2px;}
.priceComparisons .border-b-2{border-bottom-width:2px;}
.priceComparisons .border-dashed{border-style:dashed;}
.priceComparisons .border-\[\#7A5EC5\]{--tw-border-opacity:1;border-color:rgb(122 94 197 / var(--tw-border-opacity));}
.priceComparisons .bg-\[\#222323\]{--tw-bg-opacity:1;background-color:rgb(34 35 35 / var(--tw-bg-opacity));}
.priceComparisons .bg-\[\#7A5EC5\]{--tw-bg-opacity:1;background-color:rgb(122 94 197 / var(--tw-bg-opacity));}
.priceComparisons .bg-white{--tw-bg-opacity:1;background-color:rgb(255 255 255 / var(--tw-bg-opacity));}
.priceComparisons .p-3{padding:.75rem;}
.priceComparisons .px-4{padding-left:1rem;padding-right:1rem;}
.priceComparisons .px-6{padding-left:1.5rem;padding-right:1.5rem;}
.priceComparisons .px-\[15px\]{padding-left:15px;padding-right:15px;}
.priceComparisons .py-10{padding-top:2.5rem;padding-bottom:2.5rem;}
.priceComparisons .py-5{padding-top:1.25rem;padding-bottom:1.25rem;}
.priceComparisons .py-\[20px\]{padding-top:20px;padding-bottom:20px;}
.priceComparisons .text-center{text-align:center;}
.priceComparisons .align-middle{vertical-align:middle;}
 .priceComparisons .text-3xl{font-size:1.875rem;line-height:2.25rem;}
.priceComparisons .text-\[14px\]{font-size:14px;}
.priceComparisons .text-lg{font-size:1.125rem;line-height:1.75rem;}
.priceComparisons .text-xl{font-size:1.25rem;line-height:1.75rem;}
.priceComparisons .font-bold{font-weight:700;}
.priceComparisons .uppercase{text-transform:uppercase;}
.priceComparisons .capitalize{text-transform:capitalize;}
.priceComparisons .leading-10{line-height:2.5rem;}
.priceComparisons .leading-6{line-height:1.5rem;}
.priceComparisons .leading-\[22px\]{line-height:22px;}
.priceComparisons .tracking-\[0\.6px\]{letter-spacing:.6px;}
.priceComparisons .tracking-wide{letter-spacing:.025em;}
.priceComparisons .tracking-wider{letter-spacing:.05em;}
.priceComparisons .text-\[\#7a5ec5\]{--tw-text-opacity:1;color:rgb(122 94 197 / var(--tw-text-opacity));}
.priceComparisons .text-black{--tw-text-opacity:1;color:rgb(0 0 0 / var(--tw-text-opacity));}
.priceComparisons .text-white{--tw-text-opacity:1;color:rgb(255 255 255 / var(--tw-text-opacity));} 

.priceComparisons .text-white {
    text-decoration: none;
}  .priceComparisons .flex-col { 
    padding: 0;
}.priceComparisons .text-black p.text-center {
    margin: 0;
    font-size: 0.9em;
}

  .priceComparisons a.text-white{
    background:{{section.settings.mainColor}}
  }.priceComparisons .text-\[\#7a5ec5\]{
    color:{{section.settings.mainColor}}
  }
@media (min-width: 48em){
.priceComparisons .md\:ml-auto{margin-left:auto;}
.priceComparisons .md\:inline-flex{display:inline-flex;}
.priceComparisons .md\:hidden{display:none;}
.priceComparisons .md\:w-auto{width:auto;}
.priceComparisons .md\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
.priceComparisons .md\:gap-10{gap:2.5rem;}
.priceComparisons .md\:px-6{padding-left:1.5rem;padding-right:1.5rem;}
.priceComparisons .md\:py-5{padding-top:1.25rem;padding-bottom:1.25rem;}
.priceComparisons .md\:text-xl{font-size:1.25rem;line-height:1.75rem;}
}
  @media(max-width: 48em)
  {
    .priceComparisons .hideMobile{display:none !important}
  
  }
@media (min-width: 64em){
.priceComparisons .lg\:px-12{padding-left:3rem;padding-right:3rem;}
.priceComparisons .lg\:py-20{padding-top:5rem;padding-bottom:5rem;}
.priceComparisons .lg\:text-4xl{font-size:2.25rem;line-height:2.5rem;}
}
</style>

<section class="priceComparisons">
<div class="bg-[#222323] px-4 py-10 lg:px-12 lg:py-20" style="background:{{ section.settings.backColor }}">
  <div class="mx-auto max-w-screen-xl">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-10">
      <div class="self-center">
        <h2 class="break-words font-sans   font-bold leading-10 tracking-wide text-white ">
          {{ section.settings.heading }}
        </h2>
        <a
          href="{{ section.settings.button_url }}"
          data-scroll-to-section
          data-btn-type="animate"
          class="mt-8 hideMobile group relative z-[1] md:inline-flex items-center gap-2 overflow-hidden border-2 border-[#7A5EC5] bg-[#7A5EC5] px-6 py-5   leading-6 text-white hover:text-[#7A5EC5] tracking-wider"
        >
          {{ section.settings.button_text }}
          {% render 'icon' with 'arrow-right' %}
          <span
            data-btn-type="bg"
            class="absolute z-[-1] h-0 w-0 rounded-[50%] bg-white [transform:translate(-50%,-50%)] [transition:width_0.5s_ease-in-out,height_0.5s_ease-in-out;] group-hover:h-[562.5px] group-hover:w-[225%]"
          ></span>
        </a>
      </div>
      <div class="text-white justify-self-end w-full items-center"> 
          <ul class="max-w-[460px] md:ml-auto flex flex-col gap-2">
            {% for block in section.blocks %}
            <li class="flex justify-between items-baseline   tracking-wider">
              <span>{{ block.settings.text }}</span>
              <span class="flex-1 border-dashed border-b-2 mx-2"></span>
              <span>{{ block.settings.price | times: 100 | money_without_trailing_zeros }}</span>
            </li>
            {% endfor %} 
          </ul>
          <div class="max-w-[460px] md:ml-auto  mt-4 bg-white text-black rounded p-3">
            <div class="flex justify-between items-baseline   tracking-wider text-[#7a5ec5] font-bold">
              <span>{{ section.settings.label }}</span>
              <span class="flex-1 border-dashed border-b-2 mx-2"></span>
              <span>{{ section.settings.labelRight }}</span>
              <span class="ml-2">{{ section.settings.product.price | money_without_trailing_zeros }}</span>
            </div>
            <p class="  text-center">
              {{ section.settings.emi_calculation }}
            </p>
          </div> 
        <p class="max-w-[460px] md:ml-auto mt-3 text-center">{{ section.settings.emi_text }}</p>
      </div>
      <a
        href="{{ section.settings.button_url }}"
        data-scroll-to-section
        data-btn-type="animate"
        class="text-center md:hidden uppercase group relative z-[1] mt-7 block w-full items-center justify-center gap-2 overflow-hidden border-2 border-[#7A5EC5] bg-[#7A5EC5] px-[15px] py-[20px]   leading-[22px] tracking-[0.6px] text-white hover:text-[#7A5EC5] md:w-auto md:px-6 md:py-5 "
      >
        {{ section.settings.button_text }}
        <svg
          width="18"
          height="19"
          viewBox="0 0 18 19"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="inline text-white group-hover:text-[#7A5EC5] w-[18px] h-auto"
        >
          <path d="M7.48633 2.11719C7.0957 2.50781 7.13477 3.09375 7.48633 3.48438L12.2129 7.9375H1.00195C0.455078 7.9375 0.0644531 8.36719 0.0644531 8.875V10.125C0.0644531 10.6719 0.455078 11.0625 1.00195 11.0625H12.2129L7.48633 15.5547C7.13477 15.9453 7.13477 16.5312 7.48633 16.9219L8.3457 17.7812C8.73633 18.1328 9.32227 18.1328 9.67383 17.7812L17.291 10.1641C17.6426 9.8125 17.6426 9.22656 17.291 8.83594L9.67383 1.25781C9.32227 0.90625 8.73633 0.90625 8.3457 1.25781L7.48633 2.11719Z" fill="currentcolor"></path>
        </svg>
        <span
          data-btn-type="bg"
          class="absolute z-[-1] h-0 w-0 rounded-[50%] bg-white [transform:translate(-50%,-50%)] [transition:width_0.5s_ease-in-out,height_0.5s_ease-in-out;] group-hover:h-[562.5px] group-hover:w-[225%]"
        ></span>
      </a>
    </div>
  </div>
</div>
</section>
{% schema %}
{
  "name": "Price Comparison",
  "tag": "section",
  "settings": [
    {
      "type":"color",
      "id":"mainColor",
      "label":"Main Color",
      "default":"#5d3891"
    },
    {
      "type":"color",
      "id":"backColor",
      "label":"Back Color",
      "default":"#222323"
    },
    {
      "id": "heading",
      "type": "textarea",
      "label": "Heaing",
      "default": "Heading"
    },
    {
      "id": "emi_calculation",
      "type": "liquid",
      "label": "Emi Calculation",
      "default": "Or Just 4 Payments of {{ section.settings.product.price | divided_by: 4 | money_without_trailing_zeros }}/month"
    },
    {
      "id": "emi_text",
      "type": "text",
      "label": "Emi Text",
      "default": "*All costs evaluated over 3 year period."
    },
    {
      "id": "button_text",
      "type": "text",
      "label": "Button text",
      "default": "Button"
    },
    {
      "id": "button_url",
      "type": "url",
      "label": "Button url"
    },
    {
      "id": "product",
      "type": "product",
      "label": "Product"
    },
    {
      "type":"text",
      "id":"label",
      "label":"Label",
      "default":"THERAPET"
    },
    {
      "type":"text",
      "id":"labelRight",
      "label":"Label Right",
      "default":"Just"
    }
  ],
  "blocks":[
    {
      "type":"item",
      "name":"Item",
      "settings":[
        {
          "type":"text",
          "id":"text",
          "label":"Text"
        },
        {
          "type":"number",
          "id":"price",
          "label":"Price"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Price Comparison",
      "settings": {
        "heading": "SAVE TIME.\n        <br>SAVE WATER. <br>SAVE $$$",
        "button_text": "I WANT BABY SMOOTH SKIN NOW",
        "button_url": "#products"
      }
    }
  ]
}
{% endschema %}
